<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <a class="navbar-header" href="#top">TuNiñer@</a>
      <ul class="nav navbar-nav navbar-center"> 
        <li><a href="#">User</a></li> 
        <li><a href="#">???</a></li>
        <li><a href="#">Booking</a></li>
      </ul>
    </div>
  </nav>

<div id= "banner" clas= "container-fluid">
    <p> Number of Kids: </p>
    <p> Location: </p>
    <p> From:  To: </p>
</div>








