<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <a class="navbar-header" href="#top">User</a>
      <ul class="nav navbar-nav collapse navbar-collapse"> 
        <li><a href="#">Info</a></li> 
        <li><a href="#">Booking</a></li>
      </ul>
    </div>
  </nav>

<h1> TuNiñera App </h1>

<div id="kids" clas= "container-fluid">
    <p> "Number of Kids: "</p>
</div>

<div id="location" clas="container-fluid">
    <p> "Location: "</p>
</div>

<div id="time" clas="container-fluid">
    <p> "From:  To: "</p>
</div>






