
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <a class="navbar-header" href="#top">User</a>
      <ul class="nav navbar-nav collapse navbar-collapse"> 
        <li><a href="#">Info</a></li> 
        <li><a href="#">Booking</a></li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <h1>Available Babysitters</h1>
      <p>Have to make the 3 columns slideable banner</p>
    </div>
  </div>

  <h2> Form for Charge: </h2>
  <h2> Proceed with payment </h2>
  